<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" packages="neurord.util">
  <CustomLevels>
    <CustomLevel name="NOTICE" intLevel="350" />
  </CustomLevels>

  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %replace{%level}{(.).*}{$1} %logger{1.} - %msg%n}{INFO=cyan, NOTICE=green, DEBUG=white}"/>
    </Console>

    <CustomFile name="model-logfile" fileName="...">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1.} - %msg%n"/>
    </CustomFile>
  </appenders>

  <loggers>
    <root level="notice">
      <appender-ref ref="model-logfile"/>
    </root>
    <logger name="neurord.StochDiff" />
    <logger name="neurord.numeric.grid.ResultWriterHDF5" />
    <logger name="neurord.numeric.grid.ResultWriterText" />
    <logger name="neurord.numeric.grid.NextEventQueue" />
    <logger name="neurord.numeric.grid.AdaptiveGridCalc" />
    <logger name="neurord.numeric.grid.GridCalc" />
    <logger name="neurord.numeric.grid.StochasticGridCalc" />
    <logger name="neurord.numeric.grid.SteppedStochasticGridCalc" />
    <logger name="neurord.numeric.morph.VolumeGrid" />
    <logger name="neurord.numeric.morph.VolumeElement" />
    <logger name="neurord.model.SDRun" />
    <logger name="neurord.model.SurfaceDensitySet" />
    <logger name="neurord.model.InitialConditions" />
    <logger name="neurord.util.TimeUtil" />
    <logger name="neurord.util.Settings" />
  </loggers>
</configuration>
